__pycache__/
.vscode
.env

#general directory
logs/
wandb/
Heatmap/
Fastq/
model_log/
Bthesis_log/
Confusion_matrix/
misc/
torch_data/
lightning_logs/

#Wandb model
test/
test.py
venv/
Baseline*/
Category*/
IPSJ/
Bthesis/
2Stage-Analysis/

