__pycache__/
.vscode
.env
myenv/

#general directory
logs/
wandb/
Heatmap/
Fastq/
model_log/
Bthesis_log/
Confusion_matrix/
misc/
torch_data/
tb_logs/
runs/

#Wandb model
test/
test.py
test.txt
train.sh
test*
Baseline*/
Category*/
IPSJ/
Bthesis/
2Stage-Analysis/

